%% vim: ts=4 sw=4 et ft=erlang
{require_otp_vsn, "17.*"}.

{erl_opts, [debug_info, fail_on_warning, no_stick]}.
{xref_warnings, false}.
{cover_enabled, true}.

{deps, [
    {ranch, "1.0.0"}
]}.

{dialyzer, [
            {plt_location, local},
            {plt_extra_apps, [ranch]}
           ]}.
{shell_apps, [bitmessage]}.

{profiles, [
           {test, [
                   {deps, [
                           {meck, {git, "https://github.com/eproxus/meck.git"}}
                          ]}
                  ]},
           {prod, [
                   {relx, [
                           {dev_mode, false}
                          ]}
                  ]}
          ]}.
